* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    /* background here pra nindot */
    background: url('Images-Vids/main-background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgb(0, 0, 0, .3);
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navubaru a {
    font-size: 1.30rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    /* rienel gwapo */
    margin-left: 2.5rem;
} 

.main-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0, .5);
}

.artist-page {
    /* YEEHAAYYYY */
}

/* .artistses {
    display: flex;
    justify-content: space-between;
}

.artist-page h2 {
    text-align: start;
}

.artist-card {
    background: rgb(0, 0, 0, .7);
}

.artist-card .artist-pic_1 {
    border-radius: 50%;
    background: url('Images/GUNDAM.jpg') no-repeat;
    background-size: cover;
    width: 100px; 
    height: 100px;
    margin: 15px 15px 15px 15px;
}

.artist-card .artist-pic_2 {
    border-radius: 50%;
    background: url('Images/GUNDAM.jpg') no-repeat;
    background-size: cover;
    width: 100px; 
    height: 100px;
    margin: 15px 15px 15px 15px;
}

.artist-card .artist-pic_3 {
    border-radius: 50%;
    background: url('Images/GUNDAM.jpg') no-repeat;
    background-size: cover;
    width: 100px; 
    height: 100px;
    margin: 15px 15px 15px 15px;
}

p {
    color: white;
} */



.create-playlist-btn {
    cursor: pointer;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 101;
}

.popup-content {
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.popup input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}